<div>
<table>
    <tr>
    <h1 style="font-size: 50px; text-align: center;">Pipes</h1>
    <thead>
        
    </thead>
    <tbody>
        <dl>
            <dt>currency</dt>
            <dd>.....</dd>
            <dd>{{500 | currency:"INR"}}</dd>
            <dt>Todaydate</dt>
            <dd>.....</dd>
            <dd>{{Todaydate | date:'dd/mm/yyyy'}}</dd>
            <dt>Percentage</dt>
            <dd>.....</dd>
            <dd>{{500 | percent}}</dd>
            <dt>Json</dt>
            <dd>.....</dd>
            <dd>{{json | json}}</dd>
            <dt>Today</dt>
            <dd>.....</dd>
            <dd>{{today | date: 'dd/mm/yyyy hh:mm a'}}</dd>
            <dt>Today</dt>
            <dd>.....</dd>
            <dd>{{today |date: 'm/d/yy, h:mm a'}}</dd>

            </dl>  
        </tbody>
<div>
    <p>{{3.6 | number: '1.0-0'}}</p>
</div>
</tr>
</table>
</div>