<div class="text-center">
    MY ANGULAR PROJECTS
  </div>
    <div class= "table table-bordered ">
    <div class="header-c">
    <div class="sideNav">
         <div class="sideNav-links" style="padding:0px">
            <ul class="list-group" >              
                <li class="list-group-item" routerLink="/data-binding"> Data bindings..</li>
                <li class="list-group-item" routerLink="/directives"> Directives</li>
                <li class="list-group-item" routerLink="/datapassing"> Data Passing</li>
                <li class="list-group-item" routerLink="/pipes">pipes</li>
                <li class="list-group-item" routerLink="/Sidenav">SideNav</li>
                <li class="list-group-item" routerLink="/info"> Info</li>
                <li class="list-group-item" routerLink="/search"> Search</li>
                <li class="list-group-item" routerLink="/forms"> forms</li>
                <li class="list-group-item" routerLink="/reactiveforms"> reactiveforms</li>
                <li class="list-group-item" routerLink="validation">validationform</li>
                <li class="list-group-item" routerLink="signup">Sign up</li>
             </ul>
        </div>
        <div class="sn-content">
            <router-outlet></router-outlet>
        </div>
    </div> 
</div>
</div>
