<div class="card">
  <h2 class="card-header">LOGIN</h2>
  <div class="card-body">
    <label for="exampleFormControlInput1" class="form-label">Username</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="username">
  <label for="exampleFormControlInput1" class="form-label">Password</label>
  <input type="password" class="form-control" id="exampleFormControlInput2" placeholder="password">

    <label class="form-check-label">Already a user?</label><br>
       <div class="card-footer d-flex justify-content-center"><button class="btn btn-primary"
         style="min-width:200px; margin-right: 20px;">Login</button> 
    

   <button class="btn btn-primary w-60" routerLink="register-user" style="min-width:250px">Sign up </button>
  </div>
</div>