<p style="background-color: rgb(136, 136, 161);"> Sidenav works</p>
<h2 [class]="myText">Kaveri seeds</h2>
<h2 [class]="myText0">Karimnagar</h2>
<h2 [class.myName]="required">welcome</h2>
stringinterpolation:{{ ipolation}}
<div>
    propertybinding : <input type="text" value="vita">
</div>
eBinding : <input type="text">

<br>
<div>
    <h2>2way binding:</h2><br>
    <input type="text" [(ngModel)]="sresult"><br>

    <p>{{sresult}}</p>
</div>
<div>
    <h2 [style]="{color: 'pink',fontSize:'50px'}">Vita technology</h2>
</div>
<div>
    <h2 [style]="myColor">karimnagar</h2>
</div>
<div>
    <h2 [style.color]="'maroon'" [style.backgroundColor]="'lightblue'">Vita technology</h2>
</div>
<div>
    <span [class="2>1? 'possible':impossible'">2>1? possible':'impossible</span>]
</div>